#####
##
## Aljibe config file
##
## Here you can customize Aljibe related configs, feel free to add any other configuration you need.
## This config can be obtained with ddev aljibe-config command.
##
## Examples:
## - ddev aljibe-config theme_path
##    Will obtain all theme_paths to be processed
## - ddev aljibe-config default_site
##    Will get the default site to be processed

default_site: self
theme_paths:
  custom_theme: /var/www/html/web/themes/custom/custom_theme

##
# Some commands can be executed before and after the setup process.
# They must be defined as a list of commands.
# Example:
#
# hooks:
#   pre_setup:
#     - echo "Aljibe pre setup hook"
#     - ddev snapshot
#   post_setup:
#     - echo "Aljibe post setup hook"
#     - ddev drush uli --uid=2
##
hooks:
  pre_setup: []
  post_setup: []