# !! All modifications to this file should be done under
# the "Custom ignore rules" section at the end of the file.

# -------------------------
# Generic ignore rules
## Ensure .gitkeep files are commited so folder structure get respected.
!.gitkeep

## OS X files.
.DS_STORE
.Ds_Store
.DS_Store

## Linux files.
.directory

## Database and compressed files.
*.mysql
*.sql
*.gz
*.zip
*.rar
*.7z

# -------------------------
# Drupal
## Composer managed paths.
/drush/contrib/
/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/recipes/
/web/profiles/contrib/
/web/libraries/

## Scaffold
/web/.gitignore


## Sensitive information.
/web/sites/*/settings.local.php

## Local drush settings
/web/sites/*/local.drush.yml

## Paths that contain user-generated content.
/web/sites/*/files
/private-files/*
!/private-files/.gitkeep

## Translations
/web/sites/*/translations/*

## NPM.
node_modules/
.sass-cache
.cache

# -------------------------
# IDE Files
## IDE related directories.
nbproject/
.idea/

# Aljibe
## Temporary files
/tmp/*

## DDEV
settings.ddev*.php

## Aljibe
.ddev/kickstart

## mkdocs
docs/site

## Test related reports.
/reports/*/**
!/reports/*/.gitkeep

## BackstopJS
/tests/backstopjs/**/html_report
/tests/backstopjs/**/ci_report
/tests/backstopjs/**/bitmaps_test

# -------------------------
# Tools
## Generated artifact by metadrop/drupal-artifact-builder
deploy-artifact/

# Custom ignore rules
## Add here your custom ignore rules
