name: tests
on:
  pull_request:
  push:

  schedule:
  - cron: '00 07 * * *'

  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: Debug with tmate
        required: false
        default: false

# This is required for "gautamkrishnar/keepalive-workflow", see "ddev/github-action-add-on-test"
permissions:
  actions: write

jobs:
  code_quality:
    strategy:
      matrix:
        ddev_version: [stable]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: "Check out code"
        uses: actions/checkout@v3
      - name: "ShellChecker"
        uses: a5k-actions/shellchecker@v0
        with:
          severity: error
  tests:
    strategy:
      matrix:
        ddev_version: [stable]
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
      - name: Action Setup Bash
        uses: release-engineers/action-setup-bash@v1
      - uses: ddev/github-action-add-on-test@v2
        with:
          ddev_version: ${{ matrix.ddev_version }}
          token: ${{ secrets.GITHUB_TOKEN }}
          debug_enabled: ${{ github.event.inputs.debug_enabled }}
          addon_repository: ${{ env.GITHUB_REPOSITORY }}
          addon_ref: ${{ env.GITHUB_REF }}
