name: tests
on:
  pull_request:
    paths-ignore:
      - "**.md"
  push:
    branches:
      - main
      - 'tests**'
    paths-ignore:
      - "**.md"

  schedule:
  - cron: '00 07 * * 0'

  # Manual trigger with optional debug using SSH.
  # See https://github.com/mxschmitt/action-tmate
  # This action is already included in ddev/github-action-add-on-test@v2.
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: Debug with tmate (SSH access)
        required: false
        default: false

permissions:
  contents: read

jobs:
  # Job for code quality checks.
  code_quality:
    runs-on: ubuntu-latest
    steps:
      - name: "Check out code"
        uses: actions/checkout@v3
      - name: "ShellChecker"
        uses: a5k-actions/shellchecker@v0
        with:
          severity: error

  # Actual functional tests.
  tests:
    strategy:
      matrix:
        ddev_version: [stable, HEAD]
      fail-fast: false
    runs-on: ubuntu-latest

    steps:
      # Sets Bash in a strict fashion.
      - name: Action Setup Bash
        uses: release-engineers/action-setup-bash@v1

      # Official DDEV action to test add-ons.
      - uses: ddev/github-action-add-on-test@v2
        with:
          ddev_version: ${{ matrix.ddev_version }}
          token: ${{ secrets.GITHUB_TOKEN }}
          debug_enabled: ${{ inputs.debug_enabled }}
          addon_repository: ${{ github.repository }}
          addon_ref: ${{ github.ref }}